<% include header %>
<section id="index">
    <h1>Header Parser</h1>
    <h3>{</h3>
    <h3 class="ip"><span class="descr">IP: </span><span class="content"></span></h3>
    <h3 class="lang"><span class="descr">Lang: </span><span class="content"></span></h3>
    <h3 class="os"><span class="descr">OS: </span><span class="content"></span></h3>
    <h3>}</h3>
</section>
<% include footer %>