<% include header %>
    <section id="result">
        <p><%= "{" %></p><br>
        <p class="url-p"><span class="text">short_url: </span><span class="url"><%= json.short_url%></span><span>,</span></p><br>
        <p class="url-p"><span class="text">full_url: </span><span class="url"><%= json.full_url %></span></p><br>
        <p><%= "}" %></p>
    </section>
<% include footer %>