<% include header %>
    <section id="result">
        <%= "{" %><br>
        <%= 'short_url: ' + json.short_url + "," %><br>
        <%= 'full_url: ' + json.full_url %><br>
        <%= "}" %>
    </section>
<% include footer %>