<% include header %>
    <section id="result">
        <h3>{</h3>
        <h3 id="natural">Natural: <%= obj.natural %></h3>
        <h3 id="unix">Unix: <%= obj.unix %></h3>
        <h3>}</h3>
    </section>
<% include footer %>