#index h1{
    text-align: center;
    font-size: 2em;
}
#index h2, #index p{
    margin-left: 50px;
}
#index p{
    display: inline-block;
    border: 1px solid red;
    color: red;
    padding: 5px;
}
#index .note{
    border: none;
    color: black;
    text-decoration: underline;
}

/* --------------------------- */

#result p{
    margin-left: 50px;
    padding: 3px;
}
#result .text{
    font-weight: bold;
}
#result .url{
    color: green;
}
#result .url:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* --------------------------- */

#error{
    color: red;
    text-align: center;
}
#error h1{
    font-size: 3em;
}
#error h2{
    font-size: 2em;
}