#index h1{
    text-align: center;
    font-size: 2em;
}
h2, p{
    margin-left: 50px;
}
p{
    display: inline-block;
    border: 1px solid red;
    color: red;
    padding: 5px;
}
.note{
    border: none;
    color: black;
    text-decoration: underline;
}

/* --------------------------- */

#error{
    color: red;
    text-align: center;
}
#error h1{
    font-size: 3em;
}
#error h2{
    font-size: 2em;
}